@font-face {
    font-family: "Helvetica-Regular";
    src: url(/assets/font/Helvetica.ttf);
}

@font-face {
    font-family: "Helvetica-Bold";
    src: url(assets/ont/Helvetica-Bold.ttf);
}

@font-face {
    font-family: "Avenir-Bold";
    src: url(/assets/font/AvenirLTStd-Book.otf);
}

@font-face {
    font-family: "Avenir-Medium";
    src: url(/assets/font/Avenir-Medium.otf);
}

@font-face {
    font-family: "Avenir-Heavy";
    src: url(/assets/font/Avenir-Heavy.otf);
}