* {
    padding: 0;
    margin: 0;
}

.header {
    padding: 0 1.5vw;
    position: sticky;
    height: 10vh;
    display: flex;
    background-color: #F8F8F8;
    border: 1px solid #BDBDBD;
    border-radius: 0 0 11px 11px;
    align-items: center;
}

.header span {
    font-size: 1.5rem;
    font-family: "Source Sans Pro";
    color: #777777;
    padding-right: 2vw;
}

.nav_page {
    display: flex;
    width: 16%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 1.3rem;
    color: #000;
    font-family: "Source Sans Pro";
    height: 100%;
}

/* Далі треба js https://www.w3schools.com/howto/howto_js_active_element.asp*/
.nav_page li:active {
    background-color: #e0e0e0;
}

.main {
    display: flex;
    justify-content: space-around;
    padding: 6vh 35vw 0 35vw;
    flex-direction: column;
    align-items: center;
    height: 55vh;
}

.main h1 {
    padding-bottom: 1vh;
    text-align: center;
    font-size: 3em;
    color: #000;
    font-family: "Source Sans Pro";
}

.input_data {
    display: flex;
    padding: 0.7vw 0vw;
    flex-direction: column;
    justify-content: space-between;
    height: 20%;
    width: 100%;
    font-size: 1.4em;
    color: #000;
    font-family: "Source Sans Pro";
}

#name_input,
#memory_input,
#zoom_input {
    text-decoration: none;
    text-align: left;
    padding: 5px;
    line-height: 35px;
    background: #ffffff;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
}

.submit_button {
    color: #FFFFFF;
    font-family: Arimo;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    background: #0275D8;
    border: none;
    border-radius: 10px;
    width: 100%;
    margin-top: 1vh;
    height: 14%;
}